<template name="About">
  <!-- <div class="animation-form">
    <h1>
      About
    </h1>
  </div> -->
  <div class="mm">
    <ul class="mm-list">
      <li>
        <a href="#">
          Dropdowned
        </a>
        <ul class="drop">
          <li>
            F*ck drops
          </li>
        </ul>
      </li>
      <a href="#">
        Not dropdowned
      </a>
      <li>
    </li>
    </ul>
  </div>
  <div class="container">
    <div class="row">
      <div class="ani-1 col-lg-4 col-md-4">
        <div class="container-fluid">
          <div class="raw">
            <div class="col-lg-2 col-md 2 pic">
              <p class="glyphicon glyphicon-music  vert"></p>
            </div>
            <div class="col-lg-10 col-md-10 tex">
              <div style="width">
                <h3>Information 1</h3>
                <h5>Information 2</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
